<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
              [text]="'Back to Home'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="padding paddingTop">
    <ion-img class="img" src="/assets/auth.svg">
    </ion-img>
    <div >
      <ion-item lines="none">
        <ion-label class="align" color="dark">Please enter your information</ion-label>
      </ion-item>
      <div *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </div>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Email</ion-label>
        <ion-input type="email" color="dark" [(ngModel)]="email" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Password</ion-label>
        <ion-input type="password" color="dark" [(ngModel)]="password"
                   placeholder="Enter your password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="dark" position="stacked"> Username</ion-label>
        <ion-input color="dark" [(ngModel)]="username" placeholder="Enter your Username"></ion-input>
      </ion-item>
      <ion-button (click)="signUp()" color="primary" expand="block" mode="ios" class="margin-top  btn radius">
        Sign Up
      </ion-button>
      <p class="link" (click)="goTo('sign-in')">Already have an account? <ion-text color="primary">Log In</ion-text></p>
    </div>
  </div>
</ion-content>
