<ion-header>
    <ion-grid>
        <ion-row>
            <ion-img (click)="methodesService.goTo('home')" src="/assets/images/logo.png" class="logo"></ion-img>
            <ion-button (click)="methodesService.goTo('home')">{{languageService.mode().home}}</ion-button>
            <div class="dropdown">
                <ion-button >{{languageService.mode().ourProducts}}</ion-button>
                <div class="dropdown-content">
                    <a (click)="methodesService.goTo('save-car')">SAVE Cars</a>
                    <a (click)="methodesService.goTo('save-real-estate')">SAVE Real Estate</a>
                    <a (click)="methodesService.goTo('save-cvs')">SAVE CVs</a>
                </div>
            </div>
            <ion-button (click)="methodesService.goTo('save-technologies')">{{languageService.mode().aboutUs}}</ion-button>
            <ion-icon (click)="presentPopover($event)" name="person" size="large"></ion-icon>
        </ion-row>
    </ion-grid>

</ion-header>





