ion-content{
  --background: transparent!important;
}

.modal-wrapper{
  background:transparent!important;

  ion-content{
    --background: transparent!important;
  }
  .backdrop{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: var(--ion-color-dark);
    opacity:0.6;
  }

  .modal-content{
    margin:20% 20px 0 20px;
    position: relative;
    border-radius:20px!important;
    padding:20px!important;

    .close-btn{
      margin:10px;
      position:absolute;
      right:0;
      top:0;
      font-size:25px;
      color: var(--ion-color-dark);
      background-color:#fff;
      border-radius:10px;
    }
  }
}
