<ion-content>
    <ion-grid class="full-height">
        <ion-row>
            <ion-icon class="close-btn" name="close-outline" (click)="close()" size="large"></ion-icon>
        </ion-row>


        <ion-card-header>
            <ion-card-title>{{title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img [src]="image"></ion-img>
        </ion-card-content>

    </ion-grid>
</ion-content>

