<ion-content>
  <ion-grid class="full-height">
    <ion-row>
      <ion-icon class="close-btn" name="close-outline" (click)="close()" size="large"></ion-icon>
    </ion-row>
    <ion-card-header>
      <ion-card-title class="align">  You already used the free Trials for {{title}}.</ion-card-title>
    </ion-card-header>
    <ion-item lines="none">
      <ion-card-subtitle class="align">You should consider to Subscribe to one of our plan to create more amazing sales videos</ion-card-subtitle>
    </ion-item>
  </ion-grid>
</ion-content>
