<ion-content>
  <app-header></app-header>
  <div class="padding">
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Profile</ion-label>
      <ion-input color="dark" [(ngModel)]="profile" placeholder="Input profile"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Competencies</ion-label>
      <ion-input color="dark" [(ngModel)]="competency" placeholder="Input your competences"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Name</ion-label>
      <ion-input color="dark" [(ngModel)]="name" placeholder="brief main page info"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Year of birth</ion-label>
      <ion-input color="dark" [(ngModel)]="birthYear" placeholder="brief main page info"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Education</ion-label>
      <ion-input color="dark" [(ngModel)]="education" placeholder="Input your eduction"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Major</ion-label>
      <ion-input color="dark" [(ngModel)]="major" placeholder="Input your major"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Address</ion-label>
      <ion-input color="dark" [(ngModel)]="address" placeholder="Input your adress"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">year of Experience</ion-label>
      <ion-input color="dark" [(ngModel)]="yearOfExperience" placeholder="Input the year of experience"></ion-input>
    </ion-item>

    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Expected Working Area</ion-label>
      <ion-input color="dark" [(ngModel)]="expectedWorkingArea" placeholder="Input the area your want to work in"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked"> Desired Position</ion-label>
      <ion-input color="dark" [(ngModel)]="desiredPosition" placeholder="Input the position your are looking for"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Skills</ion-label>
      <ion-input color="dark" [(ngModel)]="skill" placeholder="Input main skills"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Knowledge</ion-label>
      <ion-input color="dark" [(ngModel)]="knowledge" placeholder="Input some of your knowledge"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Strong points</ion-label>
      <ion-input color="dark" [(ngModel)]="strongPoint" placeholder="Input your strong points"></ion-input>
    </ion-item>
    <ion-item class="margins" lines="none">
      <ion-label color="danger" position="stacked">Phone Number</ion-label>
      <ion-input color="dark" [(ngModel)]="phoneNumber" placeholder="Input your phone number"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Choose the language you want your video to be in</ion-label>
      <ion-select placeholder="Select One" [ngModel]="language" (ionChange)="selectAveLanguage($event)" cancelText="Dismiss">
        <ion-select-option value="kr">Korean</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="fr">French</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item lines="none" class="ion-no-padding entire">
        <input id="uploadBtn1" type="file" (change)="mediaService.selectFile($event.target.files, 'interiorfront')"
               #file5 [(ngModel)]="interiorFront" placeholder="Interior front Upload"/>
        <ion-icon  (click)="file5.click()" color="danger"   name="film"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <input id="uploadBtn2" type="file"  (change)="mediaService.selectFile($event.target.files, 'interiorback')"
               #file6 [(ngModel)]="interiorBack" placeholder="Interior back Upload"/>
        <ion-icon  (click)="file6.click()" color="danger"   name="film"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding entire">
        <input id="uploadBtn3" type="file"  (change)="mediaService.selectFile($event.target.files, 'interiorback')"
               #file6 [(ngModel)]="interiorBack" placeholder="Interior back Upload"/>
        <ion-icon  (click)="file6.click()" color="danger"   name="film"></ion-icon>
      </ion-item>
    <ion-button (click)="mediaService.uploadFile('cv', 3, this.language, authService.userData.freeCv, 'SAVE Cvs' )" expand="block" color="danger" mode="ios" class="margin-top radius">Register
    </ion-button>
  </div>
  <app-footer></app-footer>

</ion-content>
