ion-content{
  --ion-background-color: #fff;
  padding:20px!important;
}

ion-item{
  --ion-background-color: transparent!important;
  --padding-start: 0!important;
  --inner-padding-end:0!important;
  --inner-padding-start:0!important;
}
ion-label{
  font-weight:600!important;
}

.margin-top{
  margin-top:25px!important;
}

.img{
  height: 400px;
  margin-bottom: 5%;
}

.align{
  text-align: center;
}
.padding{
  padding:20%;
  margin:auto;
  padding-top:5%;

}


.link{
  text-align:center;
  font-weight:700;
}
.error{
  color: var(--ion-color-danger)
}
