<ion-header>
    <ion-item lines="none" class="paddingTop">
        <ion-grid>
            <ion-row>

            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-img class="logo-footer" src="/assets/images/logo2.png"></ion-img>
                </ion-col>
                <ion-col  >
                    <ion-note >@Copyright -2020+ Save Technologies</ion-note>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" >
                        <ion-icon
                                (click)="goTo('https://www.facebook.com/sucarTV')"
                                size="large" name="logo-facebook"></ion-icon>
                        <ion-icon
                                (click)="goTo('https://www.linkedin.com/company/cid-auto')"
                                size="large" name="logo-linkedin"></ion-icon>
                        <ion-icon
                                (click)="goTo('https://www.linkedin.com/company/cid-auto')"
                                size="large" name="logo-youtube"></ion-icon>
                        <ion-icon
                                (click)="goTo('https://www.linkedin.com/company/cid-auto')"
                                size="large" name="logo-twitter"></ion-icon>
                    </ion-item>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-header>
