<ion-content>
  <app-header></app-header>

  <ion-item lines="none">
    <ion-card class="modal-content">
      <div class="img-wrapper">
        <ion-img src="/assets/credit-card.svg" class="logo" alt="credit-card img"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>Payment methods</ion-card-title>
      </ion-card-header>
    </ion-card>
    
  </ion-item>

  <ion-item>
    <ion-title>
      CVs
    </ion-title>
    <ion-list>
      <ion-card *ngFor=" let cv of dataService.videosCvs">
        <ion-icon (click)="alertService.alertDeleteVideo(cv.name, 'cvs' ,' test' )"  name="trash"></ion-icon>
        <ion-item lines="none">
          <ion-grid>
            <ion-col>
              <ion-img src="{{cv.video}}"></ion-img>
            </ion-col>
            <ion-col>
              <ion-title>{{cv.name}}</ion-title>
              <ion-text>{{cv.description}}</ion-text>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-title>
      Cars
    </ion-title>
    <ion-list>
      <ion-card *ngFor=" let car of dataService.videosCars">
        <ion-icon (click)="alertService.alertDeleteVideo(car.name,'cars' , ' test' )"  name="trash"></ion-icon>
        <ion-item lines="none">
          <ion-grid>
            <ion-col>
              <ion-img src="{{car.video}}"></ion-img>
            </ion-col>
            <ion-col>
              <ion-title>{{car.name}}</ion-title>
              <ion-text>{{car.description}}</ion-text>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-title>
      Real Estate
    </ion-title>
    <ion-list>
      <ion-card  *ngFor=" let re of dataService.videosRealEstate">
        <ion-icon (click)="alertService.alertDeleteVideo(re.name, 'realEstate',' test' )" name="trash"></ion-icon>
        <ion-item lines="none">
          <ion-grid>
            <ion-col>
              <ion-img src="{{re.video}}"></ion-img>
            </ion-col>
            <ion-col>
              <ion-title>{{re.name}}</ion-title>
              <ion-text>{{re.description}}</ion-text>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-item>


  <app-footer></app-footer>
</ion-content>
