ion-content{
  --ion-background-color: #aeaeaa;
  padding:20px!important;
}
ion-card{
  --ion-background-color: #414141;
}
ion-title{
  color: red;
  font-weight: bold;
}
ion-textarea{
  color: white;
}

.whoweare{
  margin-bottom: 10%;
}
.logo-main{
  width: 60%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 20%;

}

.centerText{
  text-align: center;
}
.container-description{
  padding: 3%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;

}

.margin{
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

