<ion-content [fullscreen]="true" xmlns="http://www.w3.org/1999/html">
    <app-header></app-header>
    <ion-item lines="none" class="container">
        <ion-img src="/assets/images/logo2.png" class="logo-main"></ion-img>
    </ion-item>

    <ion-card class="container-description">


        <ion-title class="centerText"> {{languageService.mode().whoWeAre}} </ion-title>
        <ion-item lines="none" >
            <ion-textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit neque ligula, quis egestas
                libero sodales sed.
                Ut mauris metus, vestibulum malesuada aliquet interdum, molestie gravida eros. Quisque tempus varius
                aliquam.
                Etiam accumsan, risus sed maximus posuere, est nibh ullamcorper odio, nec rhoncus nibh augue vel leo.
                Vivamus
                nulla odio, feugiat ut eros eget, facilisis dictum massa. Etiam purus risus, dignissim laoreet
                ullamcorper
                et,
                vestibulum non nibh. Phasellus vestibulum velit in tincidunt condimentum. Aenean venenatis nibh elit.
                Donec at ante tincidunt, gravida sem in, sagittis lacus. Nullam eget porttitor lectus, in ultrices
                lacus.
                Integer ullamcorper lacus vitae dolor ornare, vel rutrum arcu dignissim. Nullam id odio iaculis risus
                aliquam porttitor.
                Aliquam eget feugiat tortor. Nulla facilisi.
            </ion-textarea>

        </ion-item>
        <ion-item lines="none">
            <ion-textarea> Sed ut nulla sit amet nunc imperdiet ultrices in elementum sapien. Nulla bibendum eu elit in
                consequat.
                Quisque ut tempus augue, eget finibus augue. Duis eros turpis, scelerisque eu finibus sit amet, pulvinar
                nec
                purus.
                Vivamus tristique nunc est, ut feugiat nisi posuere sagittis. Etiam id ligula vitae leo congue interdum.
                Etiam bibendum placerat enim, quis tincidunt felis ullamcorper non. Etiam leo eros, vehicula non est et,
                rhoncus pharetra lectus.
                Vestibulum id felis ligula. Vivamus rhoncus placerat nunc, sed egestas eros fringilla eget. Suspendisse
                condimentum blandit varius.
            </ion-textarea>
        </ion-item>
        <ion-button routerLink="/save-technologies"> More about Us</ion-button>
    </ion-card>

    <ion-grid>
        <ion-card class="margin">
            <ion-row>
                <ion-col>

                    <ion-title>SAVE Cars</ion-title>
                    <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                        SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car save
                        technoloige has a product named SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                    </ion-textarea>
                    <ion-button routerLink="/save-car" color="medium">{{languageService.mode().moreInformation}}</ion-button>
                    <ion-button routerLink="/free-trial-car" color="success">{{languageService.mode().freeTrial}}</ion-button>
                    <ion-button (click)="gotoUpload()" *ngIf="authService.checkSubscribe" color="success">Render a video</ion-button>

                </ion-col>
                <ion-col>
                    <ion-item  lines="none">

                        <iframe width="560" height="315" class="presentation-video" src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card class="margin">
            <ion-row>
                <ion-col>
                    <ion-item  lines="none">
                        <iframe width="560" height="315"  src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </ion-item>
                </ion-col>
                <ion-col>

                    <ion-title>SAVE Real Estate</ion-title>
                    <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                        SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car save
                        technoloige has a product named SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                    </ion-textarea>
                    <ion-button routerLink="/save-real-estate" color="medium">{{languageService.mode().moreInformation}}</ion-button>
                    <ion-button routerLink="/free-trial-re" color="success">{{languageService.mode().freeTrial}}</ion-button>
                    <ion-button (click)="gotoUpload()" *ngIf="authService.checkSubscribe" color="success">Render a video</ion-button>

                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card class="margin">
            <ion-row>
                <ion-col>

                    <ion-title>SAVE CVs</ion-title>
                    <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                        SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car save
                        technoloige has a product named SAVE car
                        save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                    </ion-textarea>
                    <ion-button routerLink="/save-cvs" color="medium">{{languageService.mode().moreInformation}}</ion-button>
                    <ion-button routerLink="/free-trial-cv" color="success">{{languageService.mode().freeTrial}}</ion-button>
                    <ion-button (click)="gotoUpload()" *ngIf="authService.checkSubscribe" color="success">Render a video</ion-button>

                </ion-col>
                <ion-col>
                    <ion-item  lines="none">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
    <app-footer></app-footer>
</ion-content>
