<ion-header>
  <ion-toolbar>
    <ion-title  *ngIf="this.authService.isLoggedIn">Hi {{this.authService.userData.username}}!</ion-title>
    <ion-title  *ngIf="!this.authService.isLoggedIn">Welcome to Save-technologies</ion-title>
    <ion-icon (click)="close()" name="close" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item lines="none">
    <ion-img *ngIf="languageService.language == 'en'" src="/assets/united-kingdom.svg" class="icon"></ion-img>
    <ion-img *ngIf="languageService.language == 'kr'" src="/assets/south-korea.svg" class="icon"></ion-img>
    <ion-img *ngIf="languageService.language == 'fr'" src="/assets/france.svg" class="icon"></ion-img>
    <ion-label>{{languageService.mode().lang}}</ion-label>
    <ion-select placeholder="Select One" [ngModel]="languageService.language" (ionChange)="languageService.selectLanguage($event)">
      <ion-select-option value="kr">{{languageService.mode().korean}}</ion-select-option>
      <ion-select-option value="en">{{languageService.mode().english}}</ion-select-option>
      <ion-select-option value="fr">{{languageService.mode().french}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button ion-item  (click)="goTo('sign-up')" *ngIf="!this.authService.isLoggedIn" >{{languageService.mode().signUp}}</ion-button>
  <ion-button ion-item  (click)="goTo('sign-in')" *ngIf="!this.authService.isLoggedIn" >{{languageService.mode().signIn}}</ion-button>
  <ion-button ion-item (click)="goTo('my-account')" *ngIf="this.authService.isLoggedIn" >{{languageService.mode().myAccount}}</ion-button>
  <ion-button ion-item (click)="signOut()" *ngIf="this.authService.isLoggedIn" >{{languageService.mode().signOut}}</ion-button>
</ion-list>
