<ion-content>
    <app-header></app-header>
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="howitworks">
            <ion-label>How it works</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pricing">
            <ion-label>Pricing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="testimonials">
            <ion-label>Testimonials</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-button (click)="goToFreeTrial();" color="success">Free Trial</ion-button>

    <div *ngIf="selectedValues === 'howitworks'">


        <ion-grid>
            <ion-row>
                <ion-title>The below cards will explain you how our sae Car product works as well as how to use it
                </ion-title>
            </ion-row>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 1</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 2</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 3</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 4</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 5</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-row>
                    <ion-col>
                        <ion-title>Clip 6</ion-title>
                        <ion-textarea>save technoloige has a product named SAVE car save technoloige has a product named
                            SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                            save
                            technoloige has a product named SAVE car
                            save technoloige has a product named SAVE car save technoloige has a product named SAVE car
                        </ion-textarea>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <iframe src="https://www.youtube.com/embed/wdGKm8paELw" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-item>
                <ion-button (click)="seePricing()">See Pricing</ion-button>
            </ion-item>
        </ion-grid>
    </div>
    <div *ngIf="selectedValues === 'pricing'">
        <ion-card class="pricingTable">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-title>
                            Free Trial
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            Individual
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            10 Videos per month
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            30 video per month
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            Custom
                        </ion-title>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-title>
                            Test Version video
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            fefgrgrgr
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            rgrehehe regreger
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            rgre rgre greg er
                        </ion-title>
                    </ion-col>
                    <ion-col>
                        <ion-title>
                            rger reg reg r grg
                        </ion-title>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button>FREE</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>20$ per month</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>190$ per month</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>540$ per month </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button>Contact Us For More</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>
    <div *ngIf="selectedValues === 'testimonials'">
        <ion-title>This is pricing</ion-title>
    </div>

    <app-footer></app-footer>

</ion-content>
